html,body{
  height: 100%;
}


body{
height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding-top: 40px;
padding-bottom: 40px;
background-color:#45545f !important;
     }
h1{
  font-size: 3rem;
  font-family: monospace;
  text-align: center;
margin-top: 10% !important;
 
}
.text{
  margin-top: 10%;
}



    .row {
      text-align: center !important;
    }


    .container-fluid {
      padding: 7% 15% !important;
      width: 100% !important;
      height: 100% !important;
    }


    .btn-twitter {
      background-color: #55ACEE !important;
    }

    .btn-facebook {
      background-color: #3B5998 !important;
    }

    .btn-linkedin {
      background-color: #007BB6 !important;
    }

    .btn-instagram {
      background-color: #3F729B !important;
    }

    .btn-github {
      background-color: #444444 !important;
    }

    .btn-whtsapp{
      background-color: #128c7e !important;
     
    }

    .btn-github:hover,
    .btn-twitter:hover,
    .btn-instagram:hover,
    .btn-facebook:hover,
    .btn-whtsapp:hover,
    .btn-linkedin:hover {
      color: #ffff !important;
    }

    .btn {
      box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.2) !important;
      border-radius: 10px;
    }

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      z-index: 1;
      margin:auto;
    }

    .text p{
      text-align: left !important;
    }
h1,a,p{
  color: #cec6b6 !important;
}

.black{
  background-color: #000000;
}

.white{
  background-color: #ffffff;
}