html,
body {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #45545f !important;
}
h1 {
  font-size: 3rem;
  font-family: monospace;
  text-align: center;
  margin-top: 10% !important;
}
.text {
  margin-top: 10%;
}

.row {
  text-align: center !important;
}

.container-fluid {
  padding: 7% 15% !important;
  width: 100% !important;
  height: 100% !important;
}

.btn-twitter {
  background-color: #55acee !important;
}

.btn-facebook {
  background-color: #3b5998 !important;
}

.btn-linkedin {
  background-color: #007bb6 !important;
}

.btn-instagram {
  background-color: #3f729b !important;
}

.btn-github {
  background-color: #444444 !important;
}

.btn-whtsapp {
  background-color: #128c7e !important;
}

.btn-github:hover,
.btn-twitter:hover,
.btn-instagram:hover,
.btn-facebook:hover,
.btn-whtsapp:hover,
.btn-linkedin:hover,
.btn-dark:hover {
  color: #ffff !important;
}

.btn {
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  z-index: 1;
  margin: auto;
}

.text p {
  text-align: left !important;
}
h1,
a,
p {
  color: #cec6b6 !important;
}

.black {
  background-color: #000000;
}

.white {
  background-color: #ffffff;
}

/* lodding loder */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
